.title1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 670px;
    height: 60px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
}

.firstbox{
    display: flex;
}

.title1hash1{
    width: 190px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: rgba(64, 64, 64, 0.6);
}

.title1hash2{
    width: 293px;
    height: 30px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    color: rgba(64, 64, 64, 0.6);
}


img{
    box-sizing: border-box;
    position: absolute;
    width: 400px;
    height: 300px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1px solid rgba(64, 64, 64, 0.2);
    border-radius: 10px 0px 0px 10px;
}



.para1 {
    align-items: end;
    width: 400px;
    height: 300px;
    padding: 50px;
    border: 1px solid red;
    align-content: last baseline;
  }


body{
    background-color: whitesmoke;
}



.firstbox {
    display: flex;
    width: 340px;
    padding: 120px;
    border: 1px solid gray;
    margin: 0;
  }
